.site-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F6F8F9;
    padding-top: 42px;
    padding-bottom: 42px;

    @media only screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
        text-align: initial;
    }
}

.socials {
    img {
        height: 24px;
        width: 24px;
        padding: 8px;
    }

    img:first-child {
        padding-left: 0;
    }

    .subscribe {
        display: flex;
        flex-direction: row;

        input {
            flex: 1;
        }
    }

    .send-link {
        img {
            height: 12px;
            width: 12px;
        }
    }
}