.site-header {
    position: sticky;
    width: 100%;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #F6F8F9;

    img {
        width: 30%;
        
        @media only screen and (min-width: 768px) {
            width: 13%;
        }
    }

   &.active{
        position: relative;
   }
}

.site-identity {
    text-align: end;

    h3 {
        font-family: "GlacialIndifferenceBold";
        font-size: 26px;
        margin-bottom: 0;
    }

    p {

        font-family: "GlacialIndifferenceItalic";
        font-size: 21px;
        margin-top: 12px;
        letter-spacing: 1px;
        font-weight: bold;
    }
}