.games {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F6F8F9;

    padding-top: 42px;
    padding-bottom: 42px;

    h1 {
        font-family: "GlacialIndifferenceBold";
        font-size: 46px;
        margin-bottom: 0;
    }

    p {
        font-size: 30px; 
    }
}
